$add-nav-text-color: #fff;
$add-nav-hover-color: #00e0d0;

.add-nav {
  @extend %listreset;

  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 36px;

    @include media ('<phone') {
      margin-right: 20px;
    }
  }
  
  &__link {
    @include animate (opacity);
    text-transform: uppercase;
    text-decoration: none;
    font: $base-font-weight #{$base-font-size}/26px $base-font-family;
    color: $add-nav-text-color;

    &:hover {
      opacity: 0.5;
    }
  }
}