$clients-dots-border-color: #000;
$clients-dots-active-color: #00e0d0;

.clients-list {

  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  @include media ('<tablet') {
   justify-content: center;
    margin: 0 auto;
    max-width: 360px;
  }

  &__title {
    margin: 0 18px 44px;

    @include media ('<tablet') {
      margin: 0 18px 26px;
      text-align: center;
    }
  }

  &__item {
    flex: 0 1 50%;
    margin: 0 0 47px;
    text-align: center;

    @include media ('<tablet') {
      //flex: 0 1 20%;
      margin: 0 0 20px;
    }

    //@include media ('<phone') {
    //  flex: 0 1 33.33%;
    //  margin: 0 0 18px;
    //}
  }

  &__link {
    @include animate(opacity);

    display: inline-block;
    padding: 0 10px;
    max-width: 200px;
    vertical-align: top;
    text-decoration: none;

    @include media ('<tablet') {
      max-width: 150px;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__logo {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  .slick-slide {
    outline: none
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-arrow {
    position: absolute;
    top: 30%;
    background: none;
    border: none;
  }

  &__prev-btn {
    left: -40px;
    z-index: 2;

    @include media ('<phone') {
      left: -10px;
    }
  }

  &__next-btn {
    right: -40px;
    z-index: 2;

    @include media ('<phone') {
      right: -10px;
    }
  }

}