$clients-dots-border-color: #000;
$clients-dots-active-color: #00e0d0;

.clients-list {

  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  @include media ('<tablet') {
   justify-content: center;
  }

  &__title {
    margin: 0 18px 44px;

    @include media ('<tablet') {
      text-align: center;
    }
  }

  &__item {
    flex: 0 1 50%;
    margin: 0 0 47px;
    text-align: center;

    @include media ('<tablet') {
      //flex: 0 1 20%;
      margin: 0 0 20px;
    }

    //@include media ('<phone') {
    //  flex: 0 1 33.33%;
    //  margin: 0 0 18px;
    //}
  }

  &__link {
    @include animate(opacity);

    display: inline-block;
    padding: 0 10px;
    max-width: 200px;
    vertical-align: top;
    text-decoration: none;

    @include media ('<tablet') {
      max-width: 150px;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__logo {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  &__dots {
    @extend %listreset;

    //position: absolute;
    //left: 50%;
    //transform: translateX(-50%);
    //bottom: 0px;
    display: flex;


    li {
      cursor: pointer;
      margin: 0 3px;
      width: 8px;
      background-color: transparent;
      height: 8px;
      border: 1px solid $clients-dots-border-color;
      border-radius: 50%;
      overflow: hidden;
    }

    .slick-active {
      border: 1px solid transparent;
      background-color: $clients-dots-active-color;
    }

    button {
      display: block;
      border: none;
      font-size: 0;
      background: none;
      padding: 0;
    }

  }

  .slick-slide {
    outline: none
  }

}