$bg-gradient: linear-gradient(to right, rgba(9,5,47,0.85) 0%,rgba(49,29,94,0.85) 100%);
$footer-text-color: #fff;
$phone-hover-color: #00e0d0;

.main-footer {
  position: relative;
  padding: 68px 0;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media ('<tablet') {
    padding: 36px 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $bg-gradient;
  }

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px 27px;
  }

  &__col {
    flex-basis: 33.33%;
    max-width: 33.33%;
    margin: 0 0 30px;
    padding: 0 20px;
    box-sizing: border-box;

    @include media ('<desktop') {
      flex-basis: 50%;
      max-width: 50%;
      margin: 0 0 20px;
    }

    @include media ('<tablet') {
      flex-basis: 100%;
      max-width: 100%;
    }

    &_large {
      @include media ('<desktop') {
        flex-basis: 80%;
        max-width: 80%;
      }

      @include media ('<phone') {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  &__logo {
    margin: 0 0 16px;
  }

  &__text {
    font: $base-font-weight #{$base-font-size}/26px $base-font-family;
    letter-spacing: 0.35px;
    color: $footer-text-color;
    margin: 0 0 5px;
  }

  &__heading {
    margin: 13px 0 28px;
    color: $footer-text-color;
    font: 900 15px/26px $base-font-family;
    letter-spacing: 0.75px;

    @include media ('<tablet') {
      margin: 0 0 10px;
    }
  }

  &__address,
  &__phone {
    position: relative;
    padding: 0 0 0 32px;
    font: $base-font-weight #{$base-font-size}/26px $base-font-family;
    color: $footer-text-color;

    &:before {
      @extend [class^="icon-"];
      position: absolute;
      top: 4px;
      left: 0;
      font-size: 20px;
    }
  }

  &__address {
    @extend .icon-map-marker;

    margin: 0 0 12px;
      }

  &__phone {
    @include animate(color);

    @extend .icon-call;

    text-decoration: none;

    &:hover {
      color: $phone-hover-color;
    }

    &:before {
      @include animate(color);

      font-size: 16px;
    }

    &:hover:before {
      color: $phone-hover-color;
    }
  }

  &__form-subscribe {
    padding-top: 2px;
    margin: 0 0 27px;
    width: 100%;
    justify-content: space-between;

    @include media ('<desktop') {
      justify-content: flex-start;
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include media ('<tablet') {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__copyright {
    margin: 0;
    font: $base-font-weight #{$base-font-size}/26px $base-font-family;
    color: $footer-text-color;
  }

}