$bg-gradient: linear-gradient(to right, rgba(9,5,47,0.85) 0%,rgba(49,29,94,0.85) 100%);
$footer-text-color: #fff;
$phone-hover-color: #00e0d0;

.main-footer {
  position: relative;
  padding: 40px 0;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $bg-gradient;
  }

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //margin: 0 -10px;
  }

  &__col {
    flex-basis: 33.33%;
    width: 33.33%;
    //padding: 0 10px;
  }

  &__logo {
    margin: 0 0 16px;
  }

  &__text {
    font: $base-font-weight #{$base-font-size}/26px $base-font-family;
    letter-spacing: 0.35px;
    color: $footer-text-color;
    margin: 0 0 5px;
    max-width: 280px;
  }

  &__heading {
    margin: 13px 0 30px;
    color: $footer-text-color;
    font: 900 15px/26px $base-font-family;
    letter-spacing: 0.75px;
  }

  &__address,
  &__phone {
    padding: 0 0 0 20px;
    font: $base-font-weight #{$base-font-size}/26px $base-font-family;
    color: $footer-text-color;
  }

  &__address {
  

    margin: 0 0 12px;
  }

  &__phone {
    @include animate(color);

    text-decoration: none;

    &:hover {
      color: $phone-hover-color;
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}