$nav-links-color: #fff;
$nav-links-active-color: #00e0d0;
$nav-links-border-color: rgba(34, 34, 70, 0.97);
$nav-bg-color: #312952;

.main-nav {
    align-self: center;

  @include media ('<tablet') {
    @include animate(transform);

    align-self: flex-start;
    left: -100%;
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $nav-bg-color;
    z-index: 2;

    &_active{
      transform: translateX(100%);
    }
  }

  &__list {
    @extend %listreset;

    display: flex;
    flex-wrap: wrap;

    @include media ('<tablet') {
      flex-direction: column;
      padding: 76px 0 16px;
      overflow: hidden;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 24px 0 0;
    }

    @include media ('<tablet') {
      &:not(:last-child) {
        margin: 0 0;
      }

      border-bottom: 1px solid $nav-links-border-color;
    }
  }

  &__link {
    @include animate(color);

    display: block;
    text-transform: uppercase;
    font: 900  13px/13px $base-font-family;
    color: $nav-links-color;
    text-decoration: none;

    &_active,
    &:hover {
      color: $nav-links-active-color;
    }

    @include media ('<tablet') {
     text-align: center;
     width: 100%;
     padding: 24px 10px;
    }
  }
}