.projects {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 1 16.66%;
    width: 16.66%;

    @include media ('<desktop') {
      width: 25%;
      flex-basis: 25%;
    }

    @include media ('<tablet') {
      flex-basis: 33.33%;
      width: 33.33%;
    }

    @include media ('<phone') {
      flex-basis: 50%;
      width: 50%;
    }
  }

  &__link {
    @include animate(opacity);

    display: block;

    &:hover {
      opacity: 0.6;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}