.team-card {

  $card-border-color: #89829c;
  $name-color: #fff;
  $job-color: rgba(255, 255, 255, 0.71);

  text-align: center;

  &__photo {
    position: relative;
    width: 220px;
    height: 229px;
    background-color: #fff;
    z-index: 2;

    @include media ('<desktop') {
      width: 190px;
      height: 199px;
    }
  }

  &__footer {
    margin: -2px 0 0 ;
    border: 1px solid $card-border-color;
    padding: 20px 10px 12px;
  }

  &__name {
    margin: 0 0 3px;
    font: 900 #{$base-font-size}/18px $base-font-family;
    color: $name-color;
    text-transform: uppercase;
  }

  &__job {
    margin: 0 0 8px;
    font: $base-font-weight #{$base-font-size}/18px $base-font-family;
    color: $job-color;
    text-transform: uppercase;
  }
}