.testimonial-slider {


  &-photo {

    .slick-current {
      transform: scale(1.6);
      //padding: 18px 16px;
    }
  }

  &-photo__slide {
    @include animate(transform);

    cursor: pointer;
    padding: 18px 10px;
    width: 45px;
    height: 45px;
  }

  &-photo__avatar {
    border-radius: 50%;
    overflow: hidden;
  }

  .slick-slide {
    outline: none
  }


}