$expertise-title-color: #413d4b;
$expertise-subtitle-color: rgba(47, 45, 53, 0.75);
$expertise-separator-color: rgba(198, 196, 201, 0.21);

.section-expertise {

  padding: 66px 0 71px;

  &__title {
    margin: 0 0 11px;
    text-align: center;
    color: $expertise-title-color;
  }

  &__subtitle {
    margin: 0 0 49px;
    text-align: center;
    color: $expertise-subtitle-color;

    &:before {
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $expertise-separator-color;
    }

    @include media ('<tablet') {
      margin: 0 0 10px;
    }

    &:before {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
}