.section-hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(9,5,47,0.85) 0%,rgba(49,29,94,0.85) 100%);
  }

  @include media ('<phone') {
    height: auto;
    min-height: 536px;
  }

}

.hero-slider {

  &__slide {
    position: relative;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include media ('<phone') {
      height: auto;
      min-height: 536px;
    }
  }

  &__content {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    width: 45%;

    @include media ('<desktop') {
      width: 80%;
    }

    @include media ('<tablet') {
      width: 100%;
    }
  }

  &__title {
    text-transform: capitalize;
    color: #fff;
    font: 900  32px/36px $title-font;
    margin: 0 0 22px;

    @include media ('<tablet') {
      font: 900  28px/30px $title-font;
    }

    @include media ('<phone') {
      font: 900  24px/26px $title-font;
    }
  }

  &__entry {
    position: relative;
    color: #fff;
    font: $base-font-weight  #{$base-font-size}/24px $base-font-family;
    margin: 0 0 48px;
    padding-top: 24px;

    @include media ('<phone') {
      margin: 0 0 36px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      height: 1px;
      width: 50px;
      background-color: #00e0d0;
    }
  }

  &__dots {
    @extend %listreset;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    display: flex;

    li {
      cursor: pointer;
      margin: 0 3px;
      width: 8px;
      background-color: transparent;
      height: 8px;
      border: 1px solid #fff;
      border-radius: 50%;
      overflow: hidden;
    }

    .slick-active {
      border: 1px solid transparent;
      background-color: #00e0d0;
    }

    button {
      display: block;
      border: none;
      font-size: 0;
      background: none;
      padding: 0;
    }

  }

  .slick-slide {
    outline: none
  }
}
