.section-our-story {

  $text-color: rgba(65, 61, 75, 0.75);

  padding: 50px 0;
  overflow: hidden;

  @include media ('<phone') {
    padding: 20px 0;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin: 0 -12px;

    @include media ('<phone') {
      flex-wrap: wrap;
    }
  }

  &__item {
    margin: 0 auto;
    max-width: 45%;
    padding: 20px 2px 16px 12px;

    @include media ('<tablet') {
      max-width: 40%;
    }

    @include media ('<phone') {
      max-width: 100%;
    }
  }

  &__img-wrap {
    width: 233px;

    @include media ('<tablet') {
      width: 150px;
    }
  }

  &__content {
    padding: 16px 12px;
    max-width: 55%;

    @include media ('<tablet') {
      max-width: 60%;
    }

    @include media ('<phone') {
      max-width: 100%;
    }
  }

  &__title {
    margin: 0 0 20px;
  }

  &__text {
    font: $base-font-weight  #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    margin: 0 0 22px;
  }

  &__btn {
    margin: 6px 0 0 0;
    min-width: 120px;
  }


}