$works-title-color: #413d4b;
$all-projects-link-color: #5d5d5d;

.section-works {

  padding: 47px 0;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 49px;
    padding: 0 10px;
    max-width: 960px;
  }

  &__all-projects-link {
    @extend .icon-right-arrow;

    position: relative;
    display: inline-block;
    padding: 0 22px 0 0 ;
    font: $base-font-weight 14px/0 $base-font-family;
    letter-spacing: 0.7px;
    text-decoration: none;
    color: $all-projects-link-color;

    &:before {
      @extend [class^="icon-"];
      @include animate(opacity);

      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      color: $all-projects-link-color;
      font-size: 15px;
    }
  }

  &__content {
    margin: 0 auto 70px;
    max-width: 1600px;
  }

  &__footer {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px;
    text-align: center;
  }

  &__btn {
    min-width: 140px;
  }
}