//Colors
$gray: #333333;
$black: #413d4b;


$base-font-sans-serif: 'Roboto', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
$title-font: 'Playfair Display', serif;
$btn-font: 'Hammersmith One', sans-serif;


$base-text-color: $gray !default;
$base-title-color: $black !default;
$base-font-size: 14px !default;
$base-line-height: 22px !default;
$base-font-weight: 300 !default;
$base-font-family: $base-font-sans-serif !default;

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 980px,
  'widescreen': 1200px
);

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);