.main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  padding: 14px 0;

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


