.testimonial-slider-photo {
  position: relative;
  margin: 0 auto;
  max-width: 395px;


  @include media ('<tablet') {
    max-width: 200px;
  }

  &__slide {
    cursor: pointer;
  }

  &__avatar {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
  }

   .slick-list {
    transform: translateZ(0);
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 317px;
  }

  .slick-track {
    display: flex;
    align-items: center;
    min-height: 70px;
  }

  .slick-slide {
    @include animate(width);
    outline: none;
    width: 45px;
    height: auto;
    margin: 0 7px;
  }

  .slick-slide.slick-center {
    width: 70px !important;
  }

  &__arrows {
    background: none;
    border: none;
  }

  &__prev-btn,
  &__next-btn {
    @include animate(opacity);

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    z-index: 4;
    cursor: pointer;
    outline: none;

    &:hover {
      opacity: 0.45;
    }
  }

  &__prev-btn {
    left: -10px;
  }

  &__next-btn {
    right: -10px;
  }
}


