 $arrows-color: #9f9f9f;

.testimonial-slider-photo {
  position: relative;
  margin: 0 auto;
  max-width: 400px;

  @include media ('<tablet') {
    max-width: 200px;
  }

  &__slide {
    @include animate(transform);

    cursor: pointer;
    padding: 18px 10px;
  }

  &__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
  }

  .slick-slide {
    outline: none
  }

  .slick-current {
    transform: scale(1.6);
  }

  &__arrows {
    background: none;
    border: none;
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    z-index: 4;
    cursor: pointer;
    outline: none;

    &:before {
      @include animate(opacity);
      @extend [class^="icon-"];

      color: $arrows-color;
      font-size: 30px;
    }

    &:hover:before {
      opacity: 0.5;
    }
  }

  &__prev-btn {
    @extend .icon-arrow_left;
    left: -40px;
  }

  &__next-btn {
    @extend .icon-arrow_right;
    right: -40px;
  }
}


